@media (max-width: 600px) {

    header nav img {
        display: none;
    }

    header nav {
        width: 100%;
        justify-content: center;
        margin-top: 4rem;
    }

    .header-title {
        padding: 0;
    }

    .our-dogs ul {
        gap: 1em;
    }
    .our-dogs ul li {
        flex: 0 1 40%;
    }

    .our-dogs ul li img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .helpNeed ul {
        flex-direction: column;
    }

}