{% extends 'base.html' %}
{% load static %}
{% block title %}Profile Edit{% endblock %}
<!-- Starts Main Section -->

{% block content %}
    <!-- Start Edit Profile Section -->
    <div class="edit-delete">
        <h2>Edit Profile</h2>
        <!-- Start Edit Profile From -->
        <form action="{% url 'profile edit' user.pk %}" method="POST">
            {% csrf_token %}
            <div class="label-input">
                <label for="first name">First name: </label>
                <input type="text" placeholder="First name"
                       value="{% if object.first_name %}{{ object.first_name }}{% endif %}"
                       name="{{ form.first_name.name }}">
            </div>
            <br>
            <div class="label-input">
                <label for="last name">Last name: </label>
                <input type="text" placeholder="Last name"
                       value="{% if object.last_name %}{{ object.last_name }}{% endif %}"
                       name="{{ form.last_name.name }}">
            </div>
            <br>
            <div class="label-input">
                <label for="email">Date of Birth: </label>
                <input type="date" placeholder="Date of Birth"
                       value="{% if object.date_of_birth %}{{ object.date_of_birth }}{% endif %}"
                       name="{{ form.date_of_birth.name }}">
            </div>
            <br>
            <div class="label-input">
                <label for="image">Image: </label>
                <input type="text" placeholder="Link to to profile picture"
                       value="{% if object.profile_picture %}{{ object.profile_picture }}{% endif %}"
                        name="{{ form.profile_picture.name }}">
            </div>
            <br>
            <!-- Edit Profile Button -->
            <button class="edit-btn" type="submit">Edit</button>
        </form>
        <!-- End Edit Profile Form -->

    </div>
    <!-- End Edit Profile Section -->

{% endblock %}
