body {
    background-color: rgba(0, 19, 26, 1);
    }

.container {
    display: flex;
}

h1 {
    font-family: myFirstFont;
    src: url(/fonts/Playball.ttf);
    font-size: 50px;
}

.main-content {
    flex: 2;
    padding: 5px;
    padding-left: 10px;
    background-color: rgba(9, 170, 129, 0.1);
    color: #e6e6e6;
    margin: 2px;
    border-radius: 10px;
    font-family: Trebuchet MS;
}

.photos {
    flex: 1;
    margin: 1px;
    background-color: rgba(9, 170, 129, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.photos img {
    max-width: 100%;
    border-radius: 12px;
    padding: 5px;
}


.nav {
    padding: 10px;
    display: flex;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    width: 100%;

}

hr {
    color: rgba(230, 255, 250, 0.2);
    margin: 20px 0;
    border-style: none;
}

.nav ul li {
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.main-buttons {
    text-decoration: none;
    color: white;

}

.main-buttons:hover {
    color: rgba(230, 255, 250, 0.8);

}

.page-title {
    text-align: center;
    color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
}

.technologies {
    justify-content: center;
    items-align: center;
    text-align: center;
}

.h2 {
    color: #e6e6e6;
    font-family: myFirstFont;
    font-size: 50px;
}

@font-face {
  font-family: myFirstFont;
  src: url(/fonts/Playball.ttf);
}

.tech_description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech_description img {

}


.python_img {
    max-height: 100px;
    max-width: 10%;
    padding: 5%;
}

.js_img {
    max-height: 100px;
    max-width: 10%;
    padding: 5%;
}

.html_img {
    max-height: 120px;
    max-width: 10%;
    padding: 5%;
}

.css_img {
    max-height: 120px;
    max-width: 10%;
    padding: 5%;
}
.tech_paragraphs {
    display: flex;
    align-items: center;

}

.tech_paragraphs img {
    flex: 0 0 100px;
    max-width: 10%;
    max-height: 100px;
    padding: 50px;
}

.tech_paragraphs article {
    color: #e6e6e6;
    flex: 2;
}

.footer-container {
    background-color: rgba(230, 255, 250, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 5px;
}

.footer-container ul li {
    list-style: none;
    padding: 5px;
}

.footer-container ul li a {
    text-decoration: none;
    color: #e6e6e6;
}

.footer-p {
    flex: 1;
    padding: 5px;
    font-size: 12px;
    color: #999999;
    max-width: 800px;
}










