* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    background-color: #eee;
    padding: 2em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: auto;
    justify-content: center;
}

.gallery figure {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    max-height: 550px;
    overflow: hidden;
    background-color: #fff;
    border: 0.5em solid #333;
    border-radius: 0.3em;
    justify-content: space-between;
}

.gallery .image {
    display: flex;
    padding: 1em;
    align-items: center;
    flex: 0 1 100%;
    overflow: hidden;
    border-radius: 0.3em;
}

.gallery .image img {
    width: 100%;
    max-height: 100%;
    border-radius: 0.2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    
}

figcaption {
    padding: 1em;
    opacity: 0.5;
    font-style: italic;
}
