{% extends 'base.html' %}
{% load static %}

{% block title %}Photo Delete{% endblock %}

{% block content %}

    <!-- Starts Edit Photo Section -->
    <div class="edit-delete edit-photo">
        <h2>Delete photo</h2>

        <!-- Starts Edit Photo Form -->
        <form action="{% url 'photo delete' pk=photo.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Edit Photo Button -->
            <button class="edit-btn" type="submit">Delete Photo</button>
        </form>
        <!-- End Edit Photo Form -->

    </div>
    <!-- End Edit Photo Section -->

{% endblock %}