html {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}


.flex-container {
    display: flex;
    width: 400px;
    border: 2px solid blue;
    padding: 1em;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.flex-item {
    background-color: #eee;
    padding: 20px;
    border: 2px solid black;
}

.gap-row {
    gap: 2em 0;
}

.gap-column {
    gap: 0 2em;
}

.gap {
    gap: 2em;
}