{% extends 'base.html' %}
{% load static %}
{% load buttons %}

{% block title %}Petstagram{% endblock %}


{% block content %}
<!-- Starts Main Section -->

    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="get">
                {{ search_form.as_p }}
                <button>
                    <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                </button>

            </form>
            <!-- End Searchbar Form -->

            <!--Start pet photos section -->
            {% include 'common/pet-posts.html' %}

            <!-- Start Pagination -->
            <div class="pagination" style="display: flex; flex-direction: column; justify-content: center;align-items: center;">
                <div>
                <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                </div>

                <div>
                <span class="step-links-buttons">

                    <!-- If there are previous and next photos -->
                    {% if page_obj.has_previous and page_obj.has_next %}
                        {% previous_and_next_case_buttons page_obj request %}

                    <!-- If there are only previous photos -->
                    {% elif page_obj.has_previous %}
                        {% only_previous_case_buttons page_obj request %}

                    <!-- If there are only next photos -->
                    {% elif page_obj.has_next %}
                        {% only_next_case_buttons page_obj request %}
                    {% endif %}

                </span>
                </div>
            </div>
            <!-- End Pagination -->

        </div>
    </div>
{% endblock %}
