@import url('01-form-element.css');

form fieldset {
    padding: 2em;
    border: 2px solid #ccc;
    max-width: 50ch;
}

form fieldset legend {
    padding: 0 1em;
    font-weight: bold;
}

form fieldset label {
    font-weight: bold;
}

form fieldset input {
    display: block;
    width: 100%;
}

.field {
    padding-bottom: 1.5em;
}

input:user-invalid {
    border: 2px solid #e00;
}

input:not([type="submit"])user-valid {
    border: 2px solid #090;
}