body {
    background-color:moccasin;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 25%;
    align-items: center;
    justify-content: center;
}

.form-div {
    min-width:350px;
}

form {
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

label {
    position: relative;
    cursor: pointer;
    border: 0cap;
}

button {
    margin-top: 10px;
}

#result-div {
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    opacity: 0;
}